

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/
/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

#photo {
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 40px;
	padding: 20px;
	float: right;

}


.jumbotron {
	font-family: 'Press Start 2p', cursive;
	color: 424242;
	margin: 0px;
	text-shadow: 2px 2px aliceblue;
	background: url("https://img2.minebook.me/gallery/48061_20120719_220423.png") center center;
	min-height: 500px;
}

#grass {
	padding-bottom: 64px;
	background-image: url("../images/grass.png");
	background-repeat: repeat repeat;


}

#dirt {
	background-image: url("../images/dirt.jpg");
	background-repeat: repeat repeat;
	height: 400px;
}


body {
	background-image: url("../images/dirt.jpg");
}

footer#rock {
	background: url("../images/bedrock.png");
	padding: 10px 0;
}

.navbar {
	margin-bottom: 0px;
}

h2 {
	font-size: 45px;
	font-family: 'Press Start 2p', cursive;
	text-shadow: 4px 4px 2px black;
	color: #D8D8D8;
}

h3 {
	font-size: 25px;
	font-family: 'Press Start 2p' , cursive;
	text-shadow: 4px 4px 2px black;
	color: #D8D8D8;
}

#maincontent {
	font-family: VT323;
	font-size: 40px;
	text-shadow: 4px 4px 2px black;
	color: #D8D8D8;
}

