

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/
/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

#photo {
	height: 200px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 40px;
	padding: 20px;
}

#angular {
	height: 250px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 40px;
	padding: 20px;
}


.jumbotron {
	font-family: 'Press Start 2p', cursive;
	color: 424242;
	margin: 0px;
	text-shadow: 2px 2px aliceblue;
	background: url("https://img2.minebook.me/gallery/48061_20120719_220423.png") center center;
	min-height: 500px;
	text-align: center;
}

#grass {
	padding-bottom: 64px;
	background-image: url("../images/grass.png");
	background-repeat: repeat repeat;


}

#dirt {
	background-image: url("../images/dirt.jpg");
	background-repeat: repeat repeat;
	height: 400px;
}


body {
	background-image: url("../images/dirt.jpg");
}

footer#rock {
	background: url("../images/bedrock.png");
	padding: 10px 0;
}

.navbar {
	margin-bottom: 0px;
}

h2 {
	font-size: 45px;
	font-family: 'Press Start 2p', cursive;
	text-shadow: 4px 4px 2px black;
	color: #D8D8D8;
	text-align: center;

}

h3 {
	font-size: 25px;
	font-family: 'Press Start 2p' , cursive;
	text-shadow: 4px 4px 2px black;
	color: #D8D8D8;
	text-align: center;

}

#maincontent {
	font-family: VT323;
	font-size: 40px;
	text-shadow: 4px 4px 2px black;
	color: #D8D8D8;
	text-align: center;
}

.btn-linkedin {
	font-size: 80px;
	color: steelblue;
	text-shadow: 4px 4px lightgrey;
}

.btn-twitter {
	font-size: 80px;
	color: skyblue;
	text-shadow: 4px 4px lightgrey;
}

.btn-tumblr {
	font-size: 80px;
	color: steelblue;
	text-shadow: 4px 4px lightgrey;
}

.btn-soundcloud {
	font-size: 80px;
	color: orange;
	text-shadow: 4px 4px lightgrey;
}

.btn-github {
	font-size: 80px;
	color: lightslategrey;
	text-shadow: 4px 4px lightgrey;
}

.btn-youtube {
	font-size: 80px;
	color: red;
	text-shadow: 4px 4px lightgrey;
}

.btn-instagram {
	font-size: 80px;
	color: sandybrownn;
	text-shadow: 4px 4px lightgrey;
}

.btn-facebook {
	font-size: 80px;
	color: deepskyblue;
	text-shadow: 4px 4px lightgrey;
}


.container {
	text-align: center;
}



label {
	font-size: 40px;
	font-family: VT323;
	color: #D8D8D8;
	text-shadow: 4px 4px 2px black;

}

.submit {
	font-family: VT323;
	font-size: 30px;
	padding: 20px;
}

