/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 *
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:orange;
	padding:10px;
	height: 150px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
	background: linear-gradient(lightcyan, orange);
	padding-top: 40px;
}
#footer {
	background:lightblue;
	width:100%;
	height:60px;
	position:relative;
	bottom:0;
	left:0;
	text-align: center;
}

#footer p {
	margin: 0;
	padding: 10px;
}

#body {
	padding: 10px;
	padding-bottom: 60px; /* height of footer */
}

#head1 {
	font-family: 'Press Start 2p', cursive;
	text-align: center;
	font-size: 120px;
	color: lightblue;
	text-shadow: 2px 2px aliceblue;
}

#content1 {
	text-align: center;
	font-family: Arial Unicode MS;
	font-size: large;
}

#content2 {
	text-align: center;
	font-family: Arial Unicode MS;
	font-size: large;
}

#content3 {
	text-align: center;
}

.list {
	text-align: center;
}

#photo {
	height: 400px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 40px;
	padding: 20px;

}

#footer-content {
	font-size: large;
	text-shadow: 1px 1px white;
}

.navbar-navbar-default {
	padding-bottom: 0px;
	background-color: aliceblue;
}






